<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCB3VAatxQ8LKChimY0Oxv6vXa9Fce-dm8</string>
	<key>GCM_SENDER_ID</key>
	<string>416026626182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smart.MetaMeds</string>
	<key>PROJECT_ID</key>
	<string>blood-donor-c7188</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donor-c7188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416026626182:ios:d8614c14a21f98ae132907</string>
</dict>
</plist>